<%= form_with( model: @task, local: true ) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h3><%= @task.errors.count %>件のエラーがあります</h3>
      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div id="form_container">
    <div class="title_form">
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </div>
    <div class="details_form">
      <%= f.label :details %><br>
      <%= f.text_area :details %>
    </div>
    <div class="limit_form">
      <%= f.label :limit %><br>
      <%= f.text_field :limit %>
    </div>
    <div class="status_form">
      <%= f.label :status %>
      <%= f.select :status, options_for_select(Task.statuses) %>
    </div>
    <div class="priority_form">
      <%= f.label :priority %>
      <%= f.select :priority, options_for_select(Task.priorities) %>
    </div>
    <div class='label_box'>
      <% Label.all.each do |label| %>
        <%= f.check_box :label_ids, { multiple: true, checked: label[:checked], disabled: label[:disabled], include_hidden: false }, label[:id] %>
        <label style="backkground-color: aquamarine"><%= label.name %></label>
      <% end %>
    </div>
    <%= f.submit '登録する' %>
  </div>
<% end %>
