<%= form_with( model: @task, local: true ) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= @task.errors.count %>件のエラーがあります( T_T)＼(^-^ )</h2>
      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="task_title">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="task_details">
    <%= f.label :details %><br>
    <%= f.text_area :details %>
  </div>
  <div class="task_limit">
    <%= f.label :limit %><br>
    <%= f.text_field :limit %>
  </div>
  <div class="status">
    <%= f.select :status, options_for_select(Task.statuses) %>
  </div>
  <%= f.submit '登録する' %>
<% end %>
