<h1>タスク一覧</h1>
<p><%= notice %></p>
<%= form_with( model: @task, local: true, url: tasks_path, method: 'get' ) do |f| %>
  <div class="search_for_title">
    <%= f.label :title, 'タスク名で検索する' %><br>
    <%= f.text_field :title %>
  </div>
  <div class="search_for_status">
    <%= f.label :status, 'ステータスで検索する' %><br>
    <%= f.select :status, options_for_select(Task.statuses) %>
  </div>
  <div class="search_for_priority">
    <%= f.label :priority, '優先順位で検索する' %><br>
    <%= f.select :priority, options_for_select(Task.priorities) %>
  </div>
  <%= f.submit '検索する' %><br>
<% end %>
<%= link_to "タスクを登録する", new_task_path %>
<%= link_to "一覧を表示する", tasks_path %>
<%= link_to "終了期限でソートする", tasks_path(sort_limit: "true") %>
<%= link_to '優先順位順でソートする', tasks_path(sort_priority: 'true') %>
<table>
  <tr>
    <th><%= t('view.task') %></th>
    <th><%= t('view.details') %></th>
    <th><%= t('view.limit') %></th>
    <th><%= t('view.created_date') %></th>
    <th>ステータス</th>
    <th>優先順位</th>
  </tr>
  <% @tasks.each do |task| %>
  <tr>
    <td class="task_name"><%= task.title %></td>
    <td><%= task.details %></td>
    <td class="task_limit"><%= task.limit %></td>
    <td><%= l task.created_at %></td>
    <td><%= task.status %></td>
    <td class="task_priority"><%= task.priority %></td>
    <td><%= link_to "詳細", task_path(task.id) %></td>
    <td><%= link_to "編集", edit_task_path(task.id) %></td>
    <td><%= link_to "削除", task_path(task.id), method: :delete, data: { confirm: "本当に削除しますか？" } %></td>
  </tr>
  <% end %>
</table>
<%= paginate @tasks %>
