<h1>タスク詳細</h1>
<%= notice %>
<p><%= t('view.task') %>:<%= @task.title %></p>
<p><%= t('view.details') %>:<%= @task.details %></p>
| <%= link_to "タスク一覧", tasks_path %> |
<%= link_to "新規作成", new_task_path %> |
